<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>
<p>
  <strong>Kreditindex:</strong>
  <%= @subject.k_index %>
</p>
<p>
  <strong>Eredmeny:</strong>
  <%= @subject.eredmeny %>
</p>
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', users_path %>
